<div
    class="w-48 shadow-lg rounded-md bg-slate-50"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
>
    <img
        [src]="manhwa.coverUrl"
        alt="Cover image"
        class="mb-3 rounded-md h-64 w-full"
    />
    <p class="pt-3 pb-3 text-center self-center">{{ manhwa.title }}</p>
</div>
<div
    *ngIf="hover"
    class="max-w-xs ml-4 p-8 rounded-md shadow-lg bg-slate-50 hover:animate-fade z-50 relative"
>
    <div class="flex justify-between">
        <p>
            {{ manhwa.startDate != null ? manhwa.startDate.year : 'Not yet started' }}
            {{ manhwa.endDate && '-' }} {{ manhwa.endDate && manhwa.endDate.year }}
        </p>
        <p>{{ manhwa.chapterCount }} chapter(s)</p>
    </div>
    <p>{{ manhwa.synopsis }}</p>

    <div class="flex gap-4 bottom-4 absolute">
        <div
            class="font-semibold text-xs bg-slate-300 py-1 px-2 rounded-full"
            *ngFor="let genre of manhwa.genres"
        >
            {{ genre }}
        </div>
    </div>
</div>
