<div class="page-container">
    <div class="hero">
        <div class="heading">
            <h2>The central portal for all things Manhwa</h2>
        </div>
        <div class="sub-heading">
            <h3>Track progress on the Manhwas you're currently reading</h3>
            <p>
                Reading multiple Manhwas and finding it difficult to keep track of which chapters
                you've read? Use our Tracker to keep yourself up-to-date on your own progress.
            </p>
        </div>
        <div class="sub-heading">
            <h3>Discover your next read</h3>
            <p>
                Not sure what to read next? Find your next read through our advanced search
                features.
            </p>
        </div>
        <div class="sub-heading">
            <h3>Keep yourself up-to-date</h3>
            <p>
                Manhwa Nexus aggregates multiple news sites to ensure that you can keep yourself
                up-to-date on what is releasing.
            </p>
        </div>
        <div class="cta">
            <button
                mat-raised-button
                color="primary"
            >
                Sign up today
            </button>
            <button mat-raised-button>I already have an account</button>
        </div>
    </div>

    <div class="splash-image">
        <img src="assets/solo-leveling.png" />
    </div>
</div>
